// reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// variables
$font-family-title: 'Bitter', serif;
$primary-color: #F9B9B7;
$action-color: #774b5d;
$text-color: #302;

// global styles
* {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  padding:1rem;
}

li {border:$primary-color solid 0.2rem;
padding:1rem;
margin:1rem;
text-align: center;}

// v2 styles
.page {
  background-color: $primary-color;

  &__header {
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    border-bottom: grey solid 0.1rem;

    &__logo {
      color: $text-color;
    }
  }

  &__content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    .intro{
      display:flex;
      align-items: center;
    justify-content: center;
      &__title
      {color:$text-color;
      font-size: 3rem;
      font-weight:800 ;
    }
    &__picture{padding:0}
    }

    .segment {
      background-color: white;
      margin-bottom: 3rem;
      padding: 1rem;
      display:flex;
      flex-wrap: wrap;
      align-items: center;

      &__title {
        color: $text-color;
        font-weight:900;
        width:100%;
        font-size: 2rem;
        margin:1rem;
  
      }
      &__desc{
        width:100%;
        margin:1rem;
      }
      .list{
        width:50%;
        display: flex;
        flex-direction: column;
      }
.list__100-3{
  width:100%;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  &__button{
    width:30%;
  }
}
      &__picture{
        width:50%
      }
      &__actions{
        display:flex;
        gap:1rem;
        width:100%;
        margin:1rem;
      }
    }
  }
        .btn{
          display:flex;
          color:white;
           background-color: $text-color;
           padding:1rem;
           gap:1rem;
          max-width: 18rem;       
        }

        .btn:hover{
          color:$text-color;
          background-color:white;
          padding:1rem;
          border: $text-color solid 0.1rem;
        }
  &__footer {
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    color: $primary-color;
    background-color: $text-color;
  }
}